body {
    margin: 0;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Make body at least fill the viewport */

}

main {
    flex: 1;
}

main .container {
    margin: 0 18%;
}

main .container #emptyCart {
    margin-left: 20px;
}

main h1 {
    font-size: 24px;
    padding: 20px 30px;
    margin: 0 0 10px;
    border-bottom: lightgrey 1px solid;
}

/* ======================= product info header ======================= */
/* =================================================================== */
main .product-info-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    padding: 22px;
    font-size: 16px;
    font-weight: bold;
    border: lightgrey 1px solid;
}

main .product-info-header .product-info-header-content {
    flex: 1;
    text-align: center;
}

main .product-info-header #product-info-header-title {
    flex: 2;
    text-align: left;
}

/* =========================== product item =========================== */
/* ==================================================================== */
main .product-info .container-product-items {
    border: lightgrey 1px solid;
    margin-bottom: 10px;
}

main .product-item img {
    width: 100px;
    height: 100%;
    border-radius: 4px;
}

main .product-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    font-size: 14px;
}

main .product-item .product-item-more,
main .product-item .product-item-quantity {
    text-align: center;
    padding: 5px;
    flex: 1;
}


main .product-item .product-item-title {
    display: flex;
    flex: 2;
    gap: 10px;
    align-items: center;
}

main .product-item .product-item-title p {
    color: grey;
}

main .product-item .product-item-title .product-item-info .product-item-variant {
    font-size: 14px;
    color: #444;
}

main .product-item .product-item-title .product-item-info .product-item-variant .product-item-variant p {
    margin: 2px 0;
}

/* ====================== COLOR ======================*/
main .product-item .product-item-title .product-item-info .product-item-variant .variant-color {
    display: inline-block;
    width: 15px;
    height: 15px;
    border: 1px solid lightgrey;
    border-radius: 50%;
    vertical-align: middle;
}

/* colors for buttons */
main .product-item .product-item-title .product-item-info .product-item-variant .variant-color.black {
    background: black;
}

main .product-item .product-item-title .product-item-info .product-item-variant .variant-color.grey {
    background: grey;
}

main .product-item .product-item-title .product-item-info .product-item-variant .variant-color.red {
    background: red;
}

main .product-item .product-item-title .product-item-info .product-item-variant .variant-color.blue {
    background: blue;
}

main .product-item .product-item-title .product-item-info .product-item-variant .variant-color.pink {
    background: pink;
}

/* SIZE */
main .product-item .product-item-title .product-item-info .product-item-variant .variant-size {
    font-weight: bold;
}

main .product-item .product-item-quantity {
    display: flex;
    align-items: center;
    justify-content: center;
}

main .product-item .product-item-quantity .minus-quantity-button,
main .product-item .product-item-quantity .plus-quantity-button,
main .product-item .product-item-quantity .quantity {
    width: 30px;
    height: 30px;
    cursor: pointer;
    background: white;
    box-sizing: border-box;
    border: lightgrey solid 1px;
    padding: 0;
    border-radius: 0;
}


main .product-item .product-item-quantity .minus-quantity-button:hover,
main .product-item .product-item-quantity .plus-quantity-button:hover {
    background: lightgrey;
}

main .product-item .product-item-quantity .quantity {
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

main .product-item .product-item-quantity .quantity:hover {
    cursor: default;
}

/* action button */
/* select */
main .product-item .action-select-product {
    accent-color: #d38d0e;
    transition: 0.3s;
}

/* delete */
main .product-item .action-delete-product {
    margin-left: 10px;
    background: lightgrey;
    color: grey;
    padding: 5px;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.3s;
}

main .product-item .action-delete-product:hover {
    color: white;
    background: red;
}

/* ============================= final cost =========================== */
/* ==================================================================== */
.container-product-price {
    border: lightgrey 1px solid;
    padding: 10px;
    margin-bottom: 10px;
}

.container-product-price .container-price {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5px;
    font-size: 14px;
}

.container-product-price .container-price p {
    margin: 10px;
}

.container-product-price #final-price .title {
    font-weight: bold;
}

.container-product-price #final-price .price {
    font-weight: bold;
    color: #F2B035;
}

/* =========================================== voucher =========================================== */
/* container */
.container-product-price #container-voucher {
    display: flex;
    flex-direction: row;
    gap: 10px;
    border-bottom: lightgrey solid 1px;
    padding: 10px;
}

/* voucher list */
.container-product-price #container-voucher .vouchers {
    width: 100%;
}

.container-product-price #container-voucher .vouchers label {
    padding: 8px 0;
    cursor: pointer;
}

/* combobox */
.container-product-price #container-voucher select {
    width: 50%;
    padding: 8px 10px;
    border-radius: 6px;
    border: 1px solid lightgrey;
    background: white;
    cursor: pointer;
}

/* hover */
.container-product-price #container-voucher select:hover {
    border-color: grey;
}

/*!* focus *!*/
/*.container-product-price #container-voucher select:focus {*/
/*    outline: none;*/
/*    border-color: #666;*/
/*}*/

/* empty voucher text */
.container-product-price #container-voucher .no-voucher {
    font-size: 15px;
}

/* =============================== form =============================== */
/* ==================================================================== */
/* margin, font-size, etc */
main .user-info {
    border: lightgrey 1px solid;
    margin-bottom: 50px;
}

main .form-container {
    padding: 0 50px;
    font-size: 14px;
}

main #form-input-info {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/* ============ title and button to change your information ============ */
main #form-input-info .container-user-title {
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin: 20px 10px 0;
}

main #form-input-info .container-user-title h2 {
    margin: 0 0 0 10px;
    font-size: 20px;
    color: #F2C641;
    text-transform: uppercase;
}

/* edit button to change your information */
main #form-input-info .container-user-title .edit-btn {
    background: none;
    border: none;
    padding: 0;
    font-size: 16px;
    cursor: pointer;
    transition: transform 0.2s ease;
    color: black;
    text-decoration: none;
}

main #form-input-info .container-user-title .edit-btn:hover {
    transform: scale(1.05);
}

/* missing information */
main #form-input-info .missing-information-container {
    margin-bottom: 30px;
    text-align: center;
}

main #form-input-info .missing-information-container p {
    font-size: 15px;
    text-transform: uppercase;
}

/* user information place */
main #form-input-info .form-group {
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
    align-items: center;
    gap: 5px;
    flex: 1;
}


/* label */
main #form-input-info .form-group label,
main #form-input-info .optional-information label,
main #form-input-info .payment-container > label {
    font-weight: bold;
}

main #form-input-info .form-group p {
    margin: 5px 0;
}

/* textarea */
main #form-input-info .optional-information {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 15px;
}

main #form-input-info .optional-information textarea {
    border-radius: 10px;
    outline: none;
    resize: none;
    padding: 10px;
    border: 1px solid lightgrey;
}

/* Radio button choosing your payment method*/
main #form-input-info .radio-container {
    padding: 10px;
    border: lightgrey 1px solid;
    border-radius: 4px;
}

main #form-input-info .radio-container input {
    margin: 0 10px;
}

main #form-input-info .radio-container label {
    display: flex;
    margin: 8px 0;
    align-items: center;
}

main #form-input-info .radio-container img {
    width: auto;
    height: 30px;
}

/* confirm/submit button */
main #form-input-info .container-buttons {
    display: flex;
    align-content: center;
    justify-content: center;
    margin: 20px;
}

main #form-input-info .confirm-btn {
    width: 50%;
    background-color: #F2C641;
    color: white;
    font-weight: bold;
    padding: 15px;
    border: none;
    border-radius: 8px;
}


.popup {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.popup.hidden {
    display: none;
}

.popup .popup-content {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 400px;
}

.popup .popup-content .container-options .option {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.popup .popup-content .container-options .option label {
    font-size: 14px;
    font-weight: bold;
}

.popup .popup-content .container-options .color-options,
.popup .popup-content .container-options .size-options {
    display: flex;
    gap: 10px;
}

.popup .popup-content .container-options .color-options .color-btn {
    width: 25px;
    height: 25px;
    border: 1px solid lightgrey;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.1s;
}

/* colors */
.popup .popup-content .color-btn.black {
    background: black;
}

.popup .popup-content .color-btn.grey {
    background: grey;
}

.popup-content .color-btn.red {
    background: red;
}

.popup .popup-content .color-btn.blue {
    background: blue;
}

.popup .popup-content .color-btn.pink {
    background: pink;
}

/* active */
.popup .popup-content .container-options .color-options .color-btn.active {
    border: 3px solid #F2B035;
}

.popup .popup-content .container-options .size-options .size-btn {
    padding: 8px 14px;
    border: 1px solid lightgrey;
    border-radius: 4px;
    background: white;
    cursor: pointer;
    transition: 0.3s;
}

/* hover */
.popup .popup-content .container-options .size-options .size-btn:hover {
    border-color: #F2B035;
}

/* disabled */
.popup .popup-content .container-options .size-options .size-btn.disabled {
    opacity: 0.4;
    cursor: not-allowed;
    pointer-events: none;
}

/* active */
.popup .popup-content .container-options .size-options .size-btn.active {
    background: #F2B035;
    border-color: #F2B035;
}

/* buttons for popup */
.popup .popup-content .popup-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.popup .popup-content .popup-actions button {
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
}

.popup .popup-content .popup-actions .confirmVariant {
    background: #F2C641;
    font-weight: bold;
}

.popup .popup-content .popup-actions .confirmVariant:hover {
    background: #F2B035;
}

.popup .popup-content .popup-actions .closePopup {
    background: lightgray;
}

.popup .popup-content .popup-actions .closePopup:hover {
    color: white;
    background: red;
}
