body {
    margin: 0;
    font-family: sans-serif;
}

/* ======================= main ======================= */
/* ==================================================== */
main {
    margin: 0 18%;
}

/* ======================= product section ======================= */
/* =============================================================== */
/* ======================= layout ======================= */
.section-product {
    display: flex;
    gap: 60px;
    align-items: flex-start;
    border: lightgrey 1px solid;
    padding: 15px;
    margin: 10px 0;
}

/* ======================= image ======================= */
.section-product .container-images {
    flex: 1;
}

.section-product .container-images .main-image {
    width: 100%;
    border: 1px solid lightgrey;
    border-radius: 5px;
}

.section-product .container-images .images-list {
    display: flex;
    gap: 10px;
    margin-top: 15px;
}

.section-product .container-images .images-list img {
    width: 45px;
    height: 100%;
    border: 1px solid lightgrey;
    border-radius: 5px;
    cursor: pointer;
}

.section-product .container-images .images-list img:hover,
.section-product .container-images .images-list img.active {
    border-color: #F2B035;
}

/* ======================= Product details (right side) ======================= */
.section-product .product-details {
    flex: 1;
}

/* title */
.section-product .product-details h2 {
    font-size: 26px;
    margin-bottom: 10px;
}

.section-product .product-details .rating .star {
    color: #F0AF35;
}

.section-product .product-details .price {
    font-size: 22px;
    font-weight: bold;
    color: #F2B035;
}
.section-product .product-details .product-group {
    display: flex;
    flex-direction: row;
    gap: 5px;
    margin-bottom: 22px;
    align-items: center;
}
.section-product .product-details .product-group.description {
    align-items: normal;
    flex-direction: column;
}
.section-product .product-details .product-group label {
    font-size: 16px;
}
.section-product .product-details .product-group p {
    margin: 0;
}

.section-product .product-details .desc {
    color: #333333;
    margin-bottom: 20px;
    line-height: 1.5;
    white-space: pre-line;
}

/* =============================== option section ===============================
you choosing size, colors for your product
*/
.section-product .product-details .container-options .option {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.section-product .product-details .container-options .option label {
    display: block;
    font-size: 16px;
    font-weight: bold;
}

/* ======= options ======= */
.section-product .product-details .container-options .color-options, .size-options {
    display: flex;
    gap: 10px;
}

/* == color button == */
.section-product .product-details .container-options .color-options .color-btn {
    width: 25px;
    height: 25px;
    border: 1px solid lightgrey;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.1s;
}

/* colors for buttons */
.section-product .product-details .container-options .color-options .color-btn.black {
    background: black;
}

.section-product .product-details .container-options .color-options .color-btn.grey {
    background: grey;
}

.section-product .product-details .container-options .color-options .color-btn.red {
    background: red;
}

.section-product .product-details .container-options .color-options .color-btn.blue {
    background: blue;
}

.section-product .product-details .container-options .color-options .color-btn.pink {
    background: pink;
}

/* When selected */
.section-product .product-details .container-options .color-options .color-btn.active {
    border: 3px solid #F2B035;
}

/* == size button == */
.section-product .product-details .container-options .size-options .size-btn {
    padding: 8px 14px;
    border: 1px solid lightgrey;
    border-radius: 4px;
    background: white;
    cursor: pointer;
    transition: 0.3s;

}

.section-product .product-details .container-options .size-options button.disabled {
    opacity: 0.4;
    cursor: not-allowed;
    pointer-events: none;
}

.section-product .product-details .container-options .size-options button:hover {
    background: white;
    border-color: #F2B035;
}

/* when selected */
.section-product .product-details .container-options .size-options button.active {
    background: #F2B035;
    border-color: #F2B035;
}

/*======================= cart page button section =======================*/
.section-product .container-buttons {
    display: flex;
    gap: 5px;
}

.section-product .container-buttons button {
    background-color: #F2C641;
    color: black;
    border: none;
    padding: 14px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.3s;
}

.section-product .container-buttons button:hover {
    background: #F2B035;
}

.section-product .container-buttons #buyBtn {
    width: 70%;
}

.section-product .container-buttons #addToCartBtn,
.section-product .container-buttons #wishlistBtn {
    width: 10%;
}

.section-product .container-buttons #wishlistBtn {
    background: none;
    border: none;
    cursor: pointer;
    color: #aaa;
}

.section-product .container-buttons #wishlistBtn.active {
    color: deeppink;
}

/* status shows when you press a button */
.product-details .status-msg {
    color: green;
    font-weight: bold;
    transition: opacity 0.3s;
    opacity: 0;
    text-align: center;
    margin-top: 10px;
}

.product-details .status-msg.show {
    opacity: 1;
}


/* ======================= comment section ======================= */
/* =============================================================== */
main .section-review {
    display: flex;
    flex-direction: column;
    border: lightgrey 1px solid;
    padding: 15px;
    margin-bottom: 10px;
}

/* Rating */
main .section-review .container-review .container-rating {
    display: flex;
    align-items: center;
    gap: 10px;
}

main .section-review .container-review .container-rating h3 {
    font-size: 22px;
    margin: 0;
}

main .section-review .container-review .container-rating .stars {
    display: inline-flex;
    flex-direction: row-reverse;
    font-size: 25px;
    cursor: pointer;
    gap: 2px;
}

main .section-review .container-review .container-rating .stars input {
    display: none;
}

main .section-review .container-review .container-rating .stars label {
    color: #ccc;
    transition: 0.3s;
}

main .section-review .container-review .container-rating .stars input:checked ~ label,
main .section-review .container-review .container-rating .stars label:hover,
main .section-review .container-review .container-rating .stars label:hover ~ label {
    color: #F2B035;
}

/* Comment */
main .section-review .container-review .comment-form {
    padding-bottom: 15px;
    margin: 10px;
    border-bottom: 1px lightgrey solid;
}

/* button for commenting */
main .section-review .comment-form button {
    background-color: #F2C641;
    color: black;
    border: none;
    padding: 14px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 15px;
    transition: 0.3s;
}

main .section-review .comment-form button:hover {
    background: #F2B035;
}

main .section-review .comment-form textarea {
    width: 100%;
    height: 100px;
    resize: none;
    outline: none;
    border: lightgrey 1px solid;
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
}

/* Container comments - comment lists */
main .section-review .comment-list {
    margin: 20px 0 40px;
    display: flex;
    flex-direction: column;
    gap: 15px; /* khoảng cách giữa các comment */
}

/* Comment box */
main .section-review .comment {
    background-color: white;
    border: 1px solid lightgrey;
    border-radius: 10px;
    padding: 15px 20px;
    box-shadow: 0 2px 6px lightgrey;
}

/* user name (comment) */
main .section-review .comment h4 {
    font-size: 16px;
    font-weight: bold;
    margin: 6px 0 6px;
    color: #333333;
}

/* rating */
main .section-review .comment .rating .star {
    color: #F0AF35;
}

/* comment content */
main .section-review .comment p {
    font-size: 14px;
    color: #555555;
    margin-bottom: 8px;
}

/* comment date */
main .section-review .comment span {
    font-size: 12px;
    color: #999999;
}
.warning .review-warning {
    text-align: center;
    font-weight: bold;
}